@import "fonts.css";
body {
  margin: 0;
  background-color: #fff;
  font-family: Montserrat, "Open Sans", Arial, sans-serif;
  overflow-x: hidden;
}
.navigation.long-nav {
  height: 300px;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.item {
  width: 1171px;
  margin: 0 auto;
}
.navigation {
  position: relative;
  padding: 20px 30px;
  border-bottom: 6px solid #f3ebdc;
  box-sizing: border-box;
}
.flexClass {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  text-align: center;
  width: 130px;
  margin-left: 20px;
}
.logo .logo-headline {
  margin-bottom: 0;
  font-family: "Montserrat-ExtraBold";
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 0.9;
}
.logo p {
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.menu {
  width: 570px;
  margin-left: 330px;
  padding: 24px;
  font-size: 12px;
  text-transform: uppercase;
}
.menu a {
  padding: 8px;
  border: 1px solid transparent;
}
.menu a:hover {
  border-right: 1px solid #c1c6c9;
  border-left: 1px solid #c1c6c9;
}
.icons {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 100px;
  margin-top: 12px;
}
.icons img {
  margin: 5px;
}
.slider {
  position: relative;
  width: 100%;
  height: 1000px;
  background: #c1c6c9 url(../img/bg-header.png) no-repeat left bottom;
  background-size: cover;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: -125px;
  width: 165px;
  padding: 333px 0;
  background-color: #ededede0;
}
.sidebar:hover {
  animation: runSidebar 0.2s linear forwards;
}
@keyframes runSidebar {
  0% {margin-left: -125px;}
  100% {margin-left: 0;}
}
.sidebar>div {
  width: 20px;
  margin: 20px 8px;
}
.sidebar span {
  display: none;
}
.sidebar:hover  span {
  display: inline;
  margin-left: -100px;
}
.sidebar span+div {
  display: inline;
  width: 20px;
  padding: 0;
  margin: 0 auto;
  float: right;
}
.sidebar .rotate-span {
  transform: rotate(270deg);
  height: 40px;
  margin-top: 40px; /* for "follow us". do not delete */
}
.rotate-span p {
  width: 80px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  line-height: 2;
}
.sidebar:hover  p {
  transform: rotate(-270deg);
  margin-top: -30px;
}
.sidebar a:hover {
  color: #0000007a;
}
.slider-buttons {
  position: absolute;
  top: 125px;
  right: 310px;
  width: 40px;
}
.slider-buttons button {
  border: none;
  background: transparent;
  padding: 10px 0 5px 0;
  border-bottom: 2px solid #000;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
}
.slider-buttons button:first-of-type {
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  border-bottom-color: #fff;
}
.slider-buttons button:last-of-type {
  position: relative;
}
.slider-buttons button:first-of-type:before,
.slider-buttons button:first-of-type:after,
.slider-buttons button:last-of-type:before,
.slider-buttons button:last-of-type:after {
  content: '';
  position: absolute;
  left: -4px;
  top: 26px;
  width: 0;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
}
.slider-buttons button:first-of-type:after {
  top: 30px;
  left: -4px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.slider-buttons button:last-of-type:before {
  left: 34px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-right-color: transparent;
}
.slider-buttons button:last-of-type:after{
  top: 30px;
  left: 34px;
  border: 2px solid #000;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.slider-content {
  margin: 220px 30px 50px 50%;
}
.slider-content h1 {
  margin: 0;
  font-size: 116px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.slider-content h1>p {
  padding: 0;
  margin: 0;
}
.offer-text {
  display: inline-block;
  width: 21%;
  padding-left: 5px;
  font-size: 10px;
  line-height: 1.8;
  color: #535353;
}
.offer-title span {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.offer-title {
  margin: 25px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #171717;
}
.offer-text>div {
  min-width: 150px;
  margin: 30px 0;
}
.offer-text>div>div {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  padding: 10px 0 0 10px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
}
.offer-text .fa-2x {
  font-size: 1.5em;
  color: #000;
}
.offer-text>div>div:hover {
  background-color: #000;
}
.offer-text>div>div:hover .fa-2x {
  color: #fff;
}
.buttonShopNow {
  width: 114px;
  height: 39px;
  border: 1px solid #000;
  border-radius: 22px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #000;
}
.buttonShopNow:hover {
  background-color: #00000094;
}
.buttonShopNow:focus {
  animation: buttonInFocus 0.2s linear;
}
@keyframes buttonInFocus {
  0% {font-size: 11px;}
  50% {font-size: 13px;
    opacity: .8;}
  100% {font-size: 11px;
    opacity: 0}
}
.offer-text>p:last-of-type {
  padding-bottom: 30px;
}
.special-offer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 570px;
  height: 445px;
  display: grid;
  grid-template-columns: 38% auto;
  grid-gap: 0px;
  color: #fff;
  background: #383838 url(../img/bg.png) 0 0 repeat;
  overflow: hidden;
}
.gridPicture {
  background: url(../img/image.png) 0 0 no-repeat;
  background-size: cover;
}
.gridText {
  padding: 16% 12%;
}
.gridText h3 {
  margin: 0;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  letter-spacing: 1.1;
}
.gridText>p:first-of-type {
  color: #ffffffc0;
  padding-left: 5px;
  margin: 6% 0 12% 0;
  font-size: 14px;
}
.gridText>p:last-of-type {
  display: inline;
  margin: 0 8% 0 5px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.44px;
  vertical-align: bottom;
}
.gridText>p:last-of-type span {
  position: relative;
  top: 6px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
  text-decoration: line-through;
}
.gridText .buttonShopNow {
  width: 125px;
  height: 43px;
  color: #121212;
  background-color: #f3ebdc;
}
.indexTimeLeft{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  height: 70px;
  padding-top: 25%;
}
.indexTimeLeft>div {
  width: 30%;
  height: 95px;
  color: #2d2b27;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}
.indexTimeLeft>div>p:first-child {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
}
.indexTimeLeft>div>hr {
  display: block;
  width: 10px;
  margin: 0 auto;
  border-style: dotted;
  border-width: 1px;
}
.indexTimeLeft>div>p:last-child {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.clothesList.flexClass {
  box-sizing: border-box;
  padding: 6% 14% 4%;
  font-size: 19px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 2.6px;
}
.clothesList.flexClass>div {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.clothesList.flexClass>div:hover {
  border-bottom: 1px solid #c1c6c9;
}
.gridBlocks {
  width: 100%;
  height: 850px;
  display: grid;
  grid-template-columns: 24% 40% 31%;
  grid-template-rows: 31% auto 21% 31%;
  grid-gap: 28px;
  padding: 0;
  font-size: 13px;
  color: #2d2b27;
  letter-spacing: 0.65;
  text-transform: uppercase;
}
.gridBlock1 {
  grid-row: 1/3;
  background: #f1f1f1 url(../img/shoes.png) 0 0 no-repeat;
}
.gridBlock2 {
  grid-row: 1/4;
  background: #f1f1f1 url(../img/shirt.png) 0 0 no-repeat;
}
.gridBlock3 {
  grid-column: 3;
  background: #f1f1f1 url(../img/jacket.png) 0 0 no-repeat;
}
.gridBlock4 {
  grid-row: 3/4;
  background: #f1f1f1 url(../img/casual.jpg) 0 0 no-repeat;
  grid-column: 1;
}
.gridBlock5 {
  grid-row: 2/4;
  background: #f1f1f1 url(../img/glasses.png) 0 0 no-repeat;
  grid-column: 3;
}
.box {
  position: relative;
  background-size: cover;
}
.gridBlock6 {
  grid-column: 1/4;
  background: #00b7d9 url(../img/styles.png) 0 0 no-repeat;
  background-size: contain;
  padding: 2% 5px 0 42%;
  text-align: center;
}
.iconItemNew {
  position: absolute;
  top: 10px;
  right: 10px;
  box-sizing: border-box;
  width: 48px;
  height: 23px;
  margin: 0;
  padding-top: 6px;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f8f8;
  background-color: #1a1a1a;
}
.iconItemNew:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  border: 6px solid transparent;
  border-top: 4px solid #1a1a1a;
  border-left: 6px solid #1a1a1a;
}
.gridBlock1>p {
  width: 50%;
  padding-top: 73%;
  margin: 0 auto;
  text-align: center;
}
.box>div {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 35%;
}
.box>div>p {
  margin: 0;
}
.box>div>p:first-of-type {
  padding-left: 5px;
  color: #292929;
  font-family: Raleway;
  text-transform: none;
}
.boldText {
  font-weight: 700;
  font-size: 22px;
}
.box>div>.boldText {
  font-size: 19px;
  padding: 15% 0 20%;
}
.gridBlock5>p:last-of-type {
  width: 70%;
  margin: 0 auto;
  padding-top: 44%;
  color: #292929;
  text-align: center;
  font-weight: 700;
}
.gridBlock6>p:first-of-type {
  width: 100%;
  font-size: 26px;
  line-height: 10px;
  font-weight: 700;
  letter-spacing: 2.6px;
}
.gridBlock6>p:last-of-type {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5.6px;
}
.gridBlock6 .buttonShopNow {
  width: 244px;
  height: 59px;
  border-radius: 30px;
  border: none;
  color: #2d2b27;
  font-size: 12px;
  background-color: #fff;
}
.gridBlock6 .buttonShopNow:hover {
  background-color: #ffffffc7;
}
.products {
  position: relative;
}
h4 {
  margin: 60px 0 20px;
  font-size: 26px;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.products p {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 10px;
  letter-spacing: 5.6px;
}
.gridBox {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 28px;
}
.gridBox>div {
  position: relative;
  width: 100%;
  height: 483px;
  background-color: #f1f1f1;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gridProducts>div:first-of-type {
  background-image: url(../img/menStyle.png);
}
.gridProducts>div:nth-of-type(2) {
  background-image: url(../img/womenStyle.png);
}
.gridProducts>div:last-of-type {
  background-image: url(../img/kidsStyle.png);
}
.btnUp.buttonShopNow {
  width: 174px;
  height: 59px;
  border-radius: 30px;
}
.gridProducts .buttonShopNow {
  position: absolute;
  left: 25%;
  bottom: 40px;
}
.tabPictures button {
  width: 112px;
  height: 43px;
  position: absolute;
  top: 56%;
  left: -92px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #353535;
  background-color: #afafaf;
  transform: rotate(270deg);
}
.tabPictures button:last-of-type {
  right: -92px;
  left: auto;
  background-color: #f5f5f5;
}
.buyersType {
  text-align: center;
  position: relative;
}
.buyersType .clothesList {
  padding-top: 30px;
}
.buyersType .gridBox {
  grid-template-columns: auto auto auto auto;
}
.buyersTypeBoxes>div {
  height: 500px;
  background-color: transparent;
  text-align: left;
}
.buyersTypeBoxes>div p, .buyersTypeBoxes h5 {
  margin: 0;
  padding-top: 10px;
}
.buyersTypeBoxes>div>div {
  width: 100%;
  height: 80%;
  margin: 0;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
}
.buyersTypeBoxes>div:first-of-type>div {
  background-image: url(../img/t-short.png);
}
.buyersTypeBoxes>div:nth-of-type(2)>div {
  background-image: url(../img/womenjacket.png);
}
.buyersTypeBoxes>div:nth-of-type(3)>div {
  background-image: url(../img/blouse.png);
}
.buyersTypeBoxes>div:last-of-type>div {
  background-image: url(../img/pants.png);
}
.buyersTypeBoxes h5 {
  padding-top: 32px;
  font-size: 15px;
  color: #1a1a1a;
  font-weight: 700;
}
.buyersTypeBoxes p {
  font-size: 15px;
  color: #898989;
}
.buyersTypeBoxes p:last-of-type {
  color: #1a1a1a;
}
.buyersTypeBoxes span {
  padding-right: 7px;
  font-size: 12px;
  text-decoration: line-through;
}
.buyersType>div>button {
  position: absolute;
  right: -50px;
  top: 55%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.buyersType>div>button:last-of-type {
  right: auto;
  left: -70px;
}
.buyersType i {
  color: #f1f1f1;
}
.buyersType .buttonShopNow:hover {
  background-color: #f3ebdc94;
}
.buyersType .buttonShopNow {
  margin-top: 40px;
  border: 3px solid #dac9ab;
  color: #1a1a1a;
  background-color: transparent;
}
.signing {
  margin-top: 70px;
  height: 250px;
  background: #d8dcd6 url(../img/newsletter.png) 80% 0 no-repeat;
  background-size: contain;
}
.signing>div {
  width: 60%;
  height: 100%;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}
.signing p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.signing .buttonShopNow {
  margin-top: 14px;
}
.blogs {
  position: relative;
  height: 630px;
  padding-top: 20px;
}
.blogs .gridBox {
  padding-top: 30px;
  grid-template-columns: auto auto;
  height: 381px;
}
.blogs .gridBox>div {
  position: relative;
  width: 100%;
}
.blogPicture>div:first-of-type {
  background: url(../img/picture1.png) 0 0 no-repeat;
  background-size: cover;
}
.blogPicture>div:last-of-type {
  background: url(../img/picture2.png) 0 0 no-repeat;
  background-size: cover;
}
.blogPicture>div>div {
  position: absolute;
  bottom: -5%;
  left: 6.5%;
  width: 90%;
  height: 81px;
  margin: 0 auto;
  font-size: 18px;
  background-color: #fff;
}
.blogPicture p:first-of-type {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  color: #2d2b27;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
}
.blogPicture p:last-of-type {
  font-size: 14px;
  font-family: "Open Sans";
  color: #7d7d7d;
  font-style: italic;
}
.blogs>div>button {
  position: absolute;
  right: -50px;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.blogs>div>button:last-of-type {
  right: auto;
  left: -70px;
}
.blogs i {
  color: #f1f1f1;
}
.info {
  width: 100%;
  margin-top: -160px;
  padding-top: 230px;
  padding-bottom: 6%;
  background-color: #f8f8f8;
}
.info .flexClass {
  width: 1171px;
  margin: 0 auto;
}
.info .flexClass>div {
  width: 17%;
}
.info .flexClass>div:last-of-type {
  width: 22%;
}
.info h6 {
  margin-top: 0;
  font-size: 15px;
  color: #575153;
  font-weight: 700;
  text-transform: uppercase;
}
.info li, .info a {
  font-size: 14px;
  color: #727272;
  font-weight: 300;
  line-height: 30px;
}
.info li span {
  color: #000;
  font-weight: 700;
  font-style: normal;
  padding-right: 3px;
}
.info address {
  padding-top: 30px;
  line-height: 16px;
}
.footer {
  position: relative;
  height: 200px;
}
.footer>div>p {
  width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: #727272;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.footer .logo {
  position: relative;
  margin: 0 auto;
  left: 0;
}
@media screen and (max-width: 1876px){
  .slider-content h1 {
    font-size: 72px;
  }
  .slider-buttons {
    top: 205px;
    right: 335px;
  }
  .slider-buttons button:first-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1576px){
  .slider {
    height: 800px;
  }
  .sidebar {
    padding: 233px 0;
  }
  .special-offer {
    height: 375px;
    width: 480px;
    margin-bottom: 2px;
  }
  .gridText {
    padding: 30px;
  }
  .gridText>p:last-of-type {
    vertical-align: middle;
  }
  .slider-content h1 {
    font-size: 60px;
  }
  .slider-buttons {
    top: 170px;
    right: 255px;
  }
  .offer-text {
    width: 20%;
  }
  .gridText h3 {
    font-size: 26px;
  }
  .gridText>p:first-of-type {
    font-size: 12px;
  }
  .gridText>p:last-of-type {
    font-size: 18px;
  }
  .gridText>p:last-of-type span {
    font-size: 14px;
    top: -1px;
  }
  .gridText .buttonShopNow {
    margin-top: 10%;
  }
  .indexTimeLeft>div {
    height: 70px;
    border-radius: 16px;
  }
  .indexTimeLeft>div>p:first-child {
    font-size: 20px;
  }
  .indexTimeLeft>div>p:last-child {
    font-size: 10px;
  }
  .gridBlock1>p {
    padding-top: 110%;
  }
  .boldText {
    font-size: 14px;
  }
  .gridBox {
    width: 92%;
    margin: 0 auto;
  }
  .buyersType>div>button {
    right: -15px;
  }
  .buyersType>div>button:last-of-type {
    left: -30px;
  }
  .tabPictures button {
    left: -60px;
  }
  .tabPictures button:last-of-type {
    right: -60px;
  }
  .gridBlock5>p:last-of-type {
    padding-top: 70%;
  }
  .info li, .info a {
    font-size: 12px;
  }
}
@media screen and (max-width: 1224px){
  .item, .info .flexClass {
    width: 95%;
  }
  .menu {
    width: 400px;
    margin-left: 230px;
  }
  .slider-buttons {
    top: auto;
    bottom: 30px;
    left: 45%;
    width: 250px;
  }
  .slider-buttons button:first-of-type {
    margin-right: 140px;
  }
  .offer-text {
    width: 90%;
  }
  .offer-text>div {
    margin: 0;
  }
  .special-offer {
    display: none;
  }
  .clothesList.flexClass {
    padding: 5% 2% 4%;
    font-size: 14px;
  }
  .buyersType>div>button {
    right: -5px;
  }
  .buyersType>div>button:last-of-type {
    left: -25px;
  }
  .tabPictures button {
    left: -40px;
  }
  .tabPictures button:last-of-type {
    right: -40px;
  }
  .box>div>.boldText {
    font-size: 14px;
  }
  .gridBox {
    width: 90%;
    margin: 0 auto;
  }
  .gridBlock5>p:last-of-type {
    padding-top: 70%;
  }
  .gridBlock6>p:first-of-type {
    font-size: 20px;
  }
  .blogPicture p:first-of-type {
    font-size: 15px;
  }
  .footer {
    height: 140px;
  }
}
@media screen and (max-width: 992px){
  .item {
    /*width: 100%;*/
    padding: 0 15px;
  }
  .logo {
    left: 40px;
  }
  .menu {
    width: 387px;
    margin-left: 155px;
  }
  .slider {
    height: 500px;
  }
  .sidebar {
    padding: 83px 0;
  }
  .slider-buttons {
    left: 40%;
  }
  .slider-content {
    margin: 95px 30px 50px 50%;
  }
  .slider-content h1 {
    font-size: 40px;
  }
  .gridBlocks {
    width: 100%;
    height: 600px;
    font-size: 10px;
  }
  .buyersType>div>button {
    right: 10px;
  }
  .box>div>.boldText {
    font-size: 12px;
  }
  .buttonShopNow {
    width: 68px;
    height: 24px;
    font-size: 9px;
  }
  .iconItemNew {
    width: 24px;
    height: 15px;
    padding-top: 3px;
    font-size: 9px;
  }
  .iconItemNew:before {
    border-width: 3px;
  }
  .gridBlock6>p:first-of-type {
    font-size: 16px;
  }
  .gridBlock6>p:last-of-type {
    font-size: 12px;
    letter-spacing: 3px;
    margin: 5px 0;
  }
  .gridBlock6 .buttonShopNow {
    width: 147px;
    height: 35px;
    font-size: 10px;
  }
  .tabPictures button {
    width: 67px;
    height: 25px;
    left: -15px;
    font-size: 12px;
  }
  .tabPictures button:last-of-type {
    right: -20px;
  }
  .buyersType>div>button, .blogs>div>button  {
    right: 20px;
  }
  .buyersType>div>button:last-of-type, .blogs>div>button:last-of-type {
    left: 0;
  }
  .gridBox, .gridBlocks {
    grid-gap: 10px;
  }
  .gridBox>div {
    height: 315px;
  }
  .btnUp.buttonShopNow {
    width: 104px;
    height: 36px;
  }
  .buyersTypeBoxes h5 {
    padding-top: 16px;
    font-size: 12px;
  }
  .buyersTypeBoxes>div p, .buyersTypeBoxes h5 {
    padding-top: 2px;
  }
  .signing {
    margin-top: 32px;
    height: 160px;
  }
  h4 {
    margin: 25px 0 0;
    font-size: 20px;
  }
  .signing p {
    font-size: 12px;
  }
  .blogs {
    height: 430px;
  }
  .blogPicture>div>div {
    bottom: -33px;
    height: 70px;
    width: 88%;
  }
  .blogPicture p:first-of-type {
    font-size: 13px;
    line-height: 12px;
  }
  .blogPicture p:last-of-type {
    font-size: 11px;
    line-height: 0;
  }
  .info {
    margin-top: -140px;
    padding-top: 195px;
  }
  .info h6 {
    font-size: 12px;
  }
  .info li, .info a {
    font-size: 10px;
    line-height: 25px;
  }
  .footer>div>p {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px){
  .navigation {
    padding: 50px 10px;
  }
  .menu {
    display: none;
  }
  .tabPictures {
    display: none;
  }
  .clothesList.flexClass {
    font-size: 11px;
  }
  .gridBlocks {
    width: 100%;
    height: 455px;
    display: grid;
    grid-template-columns: 19% 18% 38% 19%;
    grid-template-rows: 37% 10% 24% 22%;
    grid-gap: 10px;
  }
  .gridBlock1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .gridBlock3 {
    grid-column: 3/5;
    grid-row: 1;
  }
  .gridBlock4 {
    grid-column: 1/3;
    grid-row: 3;
  }
  .gridBlock5 {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .gridBlock6 {
    grid-column: 1/5;
    padding: 2% 5px 0 30%;
  }
  .gridBlock6>p:first-of-type {
    font-size: 10px;
  }
  .gridBlock6>p:last-of-type {
    font-size: 8px;
  }
  .gridBlock6 .buttonShopNow {
    width: 110px;
    height: 25px;
    font-size: 8px;
  }
  .gridBlock1>p {
    padding-top: 70%;
    margin-left: 2px;
  }
  .boldText {
    font-size: 12px;
  }
  .gridBlock2 {
    display: none;
  }
  .gridBlock5>p:last-of-type {
    padding-top: 35%;
  }
  .gridBox.gridProducts {
    width: 100%;
    margin: 0;
    grid-template-columns: auto auto;
  }
  .gridProducts>div:last-of-type {
    display: none;
  }
  .buyersType .gridBox {
    width: 100%;
    margin: 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
  .buyersTypeBoxes>div:first-of-type {
    display: none;
  }
  .circle-buttons {
    display: none;
  }
  .buyersType .buttonShopNow {
    margin-top: 20px;
  }
  .signing div {
    width: 100%;
  }
  .blogs .gridBox {
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .blogPicture>div:last-of-type {
    display: none;
  }
  .info h6 {
    font-size: 8px;
  }
  .info li, .info a {
    font-size: 6px;
    line-height: 18px;
  }
  .info address {
    padding-top: 10px;
  }
}
@media screen and (max-width: 640px){
  .slider {
    height: 350px;
  }
  .sidebar {
    padding: 45px 0;
  }
  .sidebar>div {
    margin: 12px 8px;
  }
  .slider-buttons button:first-of-type {
    margin-right: 60px;
  }
  .slider-content {
    margin: 60px 0 50px 50%;
  }
  .slider-content h1 {
    font-size: 25px;
  }
  .offer-title {
    margin: 5px;
  }
  .offer-text {
    font-size: 9px;
  }
  .offer-text>div>div {
    width: 17px;
    height: 17px;
    padding: 5px 0 0 5px;
  }
  .offer-text .fa-2x {
    font-size: 1em;
    margin-left: 2px;
  }
  .offer-text>p:last-of-type {
    padding-bottom: 0;
  }
  .gridBox>div {
    height: 370px;
  }
  .gridBox.gridProducts {
    grid-template-columns: auto;
  }
  .gridProducts .buttonShopNow {
    left: 40%;
  }
  .gridProducts>div:first-of-type {
    display: none;
  }
  .buyersType .gridBox {
    grid-template-columns: auto auto;
  }
  .buyersTypeBoxes>div:last-of-type {
    display: none;
  }
  .clothesList.flexClass {
    flex-wrap: wrap;
    width: 260px;
    margin: 0 auto;
    line-height: 20px;
  }
  .info {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px){
  .navigation {
    padding: 63px;
  }
  .logo {
    left: 25%;
  }
  .icons {
    top: 83px;
    right: 0;
    left: 33%;
  }
  .slider-buttons {
    left: 32%;
    bottom: 15px;
  }
  .slider-content {
    margin-top: 56px;
  }
  .slider-content h1 {
    font-size: 20px;
  }
  .offer-title {
    font-size: 10px;
    margin: 0;
  }
  .gridBlocks {
    height: 455px;
    grid-template-columns: auto;
    grid-template-rows: 37% auto 21%;
  }
  .gridBlock1, .gridBlock4 {
    display: none;
  }
  .gridBlock3 {
    grid-row: 1;
    grid-column: 1;
  }
  .gridBlock5 {
    grid-row: 2;
    grid-column: 1;
  }
  .gridBlock6 {
    grid-row: 3;
    grid-column: 1;
    padding: 6% 5px 0;
  }
  .gridBlock6>p {
    margin: 0;
  }
  .gridBlock6 .buttonShopNow {
    margin-left: 50%;
  }
  .gridProducts>div:first-of-type {
    display: none;
  }
  .gridProducts .buttonShopNow {
    left: 34%;
  }
  .buyersType .gridBox {
    margin: 0 auto;
    width: 65%;
    grid-template-columns: auto;
  }
  .buyersTypeBoxes>div:nth-of-type(3) {
    display: none;
  }
  .buyersType>div>button, .blogs>div>button {
    right: -10px;
  }
  .buyersType>div>button:last-of-type,
  .blogs>div>button:last-of-type {
    left: -30px;
  }
  .signing {
    height: 150px;
  }
  h4 {
    font-size: 12px;
  }
  .signing p {
    font-size: 10px;
  }
  .blogs {
    padding-top: 0;
    height: 250px;
  }
  .blogs .gridBox {
    padding-top: 15px;
    height: 190px;
  }
  .blogs .gridBox>div {
    height: 175px;
  }
  .blogPicture>div>div {
    height: 50px;
  }
  .blogPicture p:first-of-type {
    font-size: 10px;
    margin: 5px 0;
  }
  .info {
    margin-top: -60px;
    padding-top: 95px;
    padding-bottom: 0;
  }
  .info .flexClass {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .info .flexClass>div {
    width: 100px;
  }
  .info .flexClass>div:last-of-type {
    width: 150px;
  }
  footer {
    height: 80px;
  }
  .footer>div>p {
    width: 310px;
    padding-top: 0;
    font-size: 8px;
  }
}